---
import ReactWidget from '@/core/widgets/react/Widget';
import VueWidget from '@/core/widgets/vue/Widget.vue';

---

<div class="core-widget">
  <h2>Core Widget</h2>
  <p>This is a core widget component.</p>
  <p>It is used to demonstrate the structure of a core widget.</p>
  <p>It can be used in any layout or page.</p>
  <hr>
  <ReactWidget/>
  <VueWidget />
</div>
