---
import { Widget } from "@/ui/exam_widget";
import { WidgetUI } from "@/ui/exam_widget";
---

<div class="core-widget">
  <h2 class="text-3xl font-bold underline">Core Widget</h2>
  <p>This is a core widget component.</p>
  <p>It is used to demonstrate the structure of a core widget.</p>
  <p>It can be used in any layout or page.</p>
  <hr>
  <Widget />
  <WidgetUI />
</div>
