---
import MarkdownLayout from "@/core/layouts/MarkdownLayout.astro";
import { createMarkdownProcessor } from "@astrojs/markdown-remark";

const processor = await createMarkdownProcessor();
const { content } = Astro.props;
const markdownHtml = await processor.render(content);
---
<Fragment>
  <MarkdownLayout>
    <div set:html={markdownHtml.code} class="w-full"></div>
  </MarkdownLayout>
</Fragment>